/**
 * @author Cantico
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2006 by CANTICO ({@link http://www.cantico.fr})
 * @version 0.1.0
 */

/* @import url(http://fonts.googleapis.com/css?family=Amaranth); */

/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block;
	}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*display: inline;
	*zoom: 1;
	}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
	display: none;
	}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
	display: none;
	}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
	margin: 0;
	}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

body,button,input,select,textarea {
	font-family: sans-serif;
	}

/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
	outline: thin dotted;
	}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,a:active {
	outline: 0;
	}

/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
	font-size: 2em;
	}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
	border-bottom: 1px dotted;
	}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,strong {
	font-weight: bold;
	}

blockquote {
	margin: 1em 40px;
	}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
	font-style: italic;
	}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
	background: #ff0;
	color: #000;
	}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,code,kbd,samp {
	font-family: monospace,serif;
	_font-family: 'courier new',monospace;
	font-size: 1em;
	}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
	quotes: none;
	}

/* 2 */

q:before,q:after {
	content: '';
	content: none;
	}

small {
	font-size: 75%;
	}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}

sup {
	top: -0.5em;
	}

sub {
	bottom: -0.25em;
	}

/* =============================================================================
   Lists
   ========================================================================== */

ul,ol {
	margin-left: 0;
	padding: 0 0 0 40px;
	}

dd {
	margin: 0 0 0 40px;
	}

nav ul,nav ol {
	list-style: none;
	list-style-image: none;
	}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
	overflow: hidden;
	}

/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
	margin: 0;
	}

/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
	margin: 0;
	}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */

legend {
	border: 0;
	*margin-left: -7px;
	}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,input,select,textarea {
	font-size: 100%;
	vertical-align: baseline;
	*vertical-align: middle;
	}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,input {
	line-height: normal;
	}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
	}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	}

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
	}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
	overflow: auto;
	vertical-align: top;
	}

/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
	}

html {
	min-height: 100%;
	overflow-y: auto;
	}

body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 9.5pt;
	font-family: Arial,sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	}

.crm-strong {
	font-weight: bold;
	color: #000;
	}

.crm-small {
	font-size: 90%;
	}

p {
	line-height: 1.5em;
	}

.widget-richtext p {
	margin: 0 0 1em 0;
	}

body.page {

	background: #888;
	background-image: -webkit-linear-gradient(top,#cccccc,#777777);
	background-image: -moz-linear-gradient(top,#cccccc,#777777);
	background-image: -ms-linear-gradient(top,#cccccc,#777777);
	background-image: -o-linear-gradient(top,#cccccc,#777777);
	background-image: linear-gradient(top,#cccccc,#777777);
	color: #444;
	}

body#display_folder #crm_page h2 {
	display: none;
	}

body#display_folder div.bab_content {
	padding: 0!important;
	}

textarea,select,input {
	font-family: inherit;
	font-size: 10pt;
	}

textarea {
	resize: vertical!important;
	}

.ui-widget,.crm-page .ui-widget,.crm-page .ui-widget input,.crm-page .ui-widget select,.crm-page .ui-widget textarea,.crm-page .ui-widget button {
	font-family: inherit!important;
	font-size: 9.5pt!important;
	}

.crm-page .ui-widget input,.crm-page .ui-widget select,.crm-page .ui-widget textarea,.crm-page .ui-widget button {
	font-family: inherit!important;
	font-size: 10pt!important;
	}

.crm-page-editor .ui-widget {
	font-family: inherit!important;
	font-size: 10pt!important;
	}

body .ui-widget-header {
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #333;
	}

body .ui-widget-content .ui-icon {
	background-image: url(../images/ui-icons_222222_256x240.png);
	}

body .ui-dialog,body .ui-datepicker {
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.5);
	box-shadow: 0 3px 15px rgba(0,0,0,0.5);
	background: -webkit-linear-gradient(top,#F7F7F7,#E7E7E7);
	background: -moz-linear-gradient(top,#F7F7F7,#E7E7E7);
	background: -ms-linear-gradient(top,#F7F7F7,#E7E7E7);
	background: -o-linear-gradient(top,#F7F7F7,#E7E7E7);
	background: linear-gradient(top,#F7F7F7,#E7E7E7);
	}

body .ui-dialog {
	-webkit-box-shadow: 0 3px 25px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 25px rgba(0,0,0,0.5);
	box-shadow: 0 3px 25px rgba(0,0,0,0.5);
	}

body .ui-datepicker {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	}

.widget-suggestlineedit-menu .widget-suggestlineedit-link {
	font-family: inherit!important;
	font-size: 10pt!important;
	}

.widget-suggestlineedit-menu .widget-suggestlineedit-link em {
	font-weight: bold!important;
	font-style: normal;
	}

.widget-suggestlineedit-menu .ui-state-default {
	background: #fff!important;
	border: 1px solid #fff!important;
	border-top: 1px solid #ccc!important;
	}

.widget-suggestlineedit-menu .ui-state-default:FIRST-CHILD {
	border: 1px solid #fff!important;
	}

textarea,select,input[type="text"],input[type="search"],input[type="password"],input[type="checkbox"],.widget-userpicker,div.wysiwyg {
	background-color: #ffffff;
	padding-top: 1px;
	padding-bottom: 1px;
	vertical-align: middle;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	-webkit-transition-property: box-shadow,background;
	-moz-transition-property: box-shadow,background;
	-ms-transition-property: box-shadow,background;
	-o-transition-property: box-shadow,background;
	transition-property: box-shadow,background;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

textarea:focus,select:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="checkbox"]:focus {
	-webkit-box-shadow: 0 0 2px rgba(0,80,200,0.8);
	-moz-box-shadow: 0 0 2px rgba(0,80,200,0.8);
	box-shadow: 0 0 2px rgba(0,80,200,0.8);
	color: #000;
	}

textarea,input[type="text"],input[type="password"],input[type="checkbox"] {
	min-height: 22px;
	}

select {
	min-height: 18px;
	}

.crm-element-image.large {
	border: 2px solid #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	}

.crm-element-image.small {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	}

.widget-section.widget-foldable.widget-folded {
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	background-color: rgba(0,0,0,0.025);
	}

.widget-section .widget-section-header {
	margin-bottom: 0;
	}

.widget-section .widget-section-header h1,.widget-section .widget-section-header h2,.widget-section .widget-section-header h3,.widget-section .widget-section-header h4,.widget-section .widget-section-header h5,.widget-section .widget-section-header h6 {
	margin: 0.1em 0;
	}

.crm-page .widget-section .widget-section-header .widget-layout-flow-item {
	white-space: nowrap;
	}

.crm-page .widget-section.compact .widget-section-content {
	padding: 0!important;
	}

.crm-page .widget-section .widget-section-content {
	background-image: url('../images/grey_vertical_gradient_lightest.png');
	background-position: 0 -200px;
	background-repeat: repeat-x;
	padding: 4px 10px 0 10px;
	}

.crm-page .crm-counter-label {
	background-color: rgba(0,0,0,0.15);
	}

#crm_context_panel .widget-section {
	margin-top: 0em;
	}

#crm_context_panel .widget-section-content {
	background-image: url('../images/grey_vertical_gradient_lightest.png');
	background-position: 0 -200px;
	background-repeat: repeat-x;
	padding: 4px 4px 0 4px;
	}

#crm_context_panel .crm-card .widget-section-content,#crm_context_panel .crm-team-member .widget-section-content,#crm_context_panel .crm-task .widget-section-content {
	padding: 4px 4px 0 19px;
	}

textarea[disabled="disabled"],select[disabled="disabled"],input[disabled="disabled"] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #eee;
	}

h1,h2,h3,h4,h5,h6 {
	color: rgba(120,176,0,0.90);
	font-family: Arial,sans-serif;
	}

h1 {
	font-size: 28pt;
	margin: 0;
	text-shadow: #fff 0px 1px 1px;
	letter-spacing: -1px;
	}

h2 {
	font-size: 16pt;
	margin: 0;
	text-shadow: #fff 0px 1px 1px;
	letter-spacing: -1px;
	}

h3 {
	font-size: 13pt;
	margin: 0;
	text-shadow: #fff 0px 1px 1px;
	}

h4 {
	font-size: 11pt;
	margin: 0;
	color: #c70;
	color: rgba(192,120,0,0.9);
	text-shadow: #fff 0px 1px 1px;
	}

h5 {
	font-size: 10pt;
	font-weight: bold;
	margin: 0;
	text-shadow: #fff 0px 1px 1px;
	}

h6 {
	font-size: 9.5pt;
	font-weight: bold;
	margin: 0;
	color: #000;
	}

a img {
	border: 0;
	}

h2.title {
	font-size: 2em;
	font-weight: normal;
	padding-left: 25px;
	margin-top: 1em;
	color: #37a;
	text-shadow: #fff 0px 1px 1px;
	}

h2.msgerror {
	font-size: 1.3em;
	font-weight: bold;
	color: #d77;
	padding-left: 40px;
	}

hr.clear {
	display: none;
	clear: both;
	}

.icon_bar td {
	vertical-align: middle;
	}

.icon_bar td a:focus {
	outline: none;
	}

.icon_bar img {
	opacity: 0.6;
	padding: 4px;
	width: 24px;
	height: 48px;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
	}

#icon_bar_tooltip {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
	text-shadow: 0 1px 1px #000;
	position: relative;
	z_index: 1;
	}

/* Page head */

#crm_head {
	position: relative;
	border: 0;
	margin: 0;
	vertical-align: top;
	background: transparent url('../images/head_bg.gif') repeat-x 0 50%;
	background: -webkit-linear-gradient(top,#0088bb,#33aadd);
	background: -moz-linear-gradient(top,#0088bb,#33aadd);
	background: -ms-linear-gradient(top,#0088bb,#33aadd);
	background: -o-linear-gradient(top,#0088bb,#33aadd);
	background: linear-gradient(top,#0088bb,#33aadd);
	height: 65px;
	}

#crm_head img.print {
	display: none;
	}

#crm_head .right {
	background: transparent url('../images/head_bg_light.gif') repeat-x top left;
	}

#main_logo {
	display: none;
	}

#crm_head #main_title {
	position: absolute;
	top: 5px;
	left: 20px;
	color: #ffffff;
	font-family: "Arial";
	filter: alpha(opacity=30);
	opacity: 0.4;
	font-size: 34px;
	font-weight: bold;
	letter-spacing: -0.07em;
	text-shadow: #246 0px 1px 4px;
	zoom: 1;
	}

#crm_head #sub_title {
	position: absolute;
	top: 38px;
	left: 20px;
	color: #ffffff;
	font: "Arial";
	filter: alpha(opacity=30);
	opacity: 0.5;
	font-size: 17px;
	font-weight: normal;
	letter-spacing: -0.05px;
	text-shadow: #135 0px 1px 4px;
	zoom: 1;
	}

#crm_head h2 {
	color: #ffffff;
	margin-left: 140px;
	margin-bottom: 10px;
	font: normal 15px "Arial";
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 200px;
	height: 20px;
	text-shadow: #246 0px 1px 4px;
	}

#crm_head h2:hover {
	opacity: 0.7;
	}

/* Page foot */

#crm_foot {
	background-color: #aaaaaa;
	border-bottom: 2px solid #ffffff;
	padding: 0.3em 1em 0.3em 1em;
	text-align: right;
	font-style: normal;
	font-size: 0.9em;
	color: #ffffff;
	}

#crm_foot a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	}

#crm_foot a:hover {
	text-decoration: underline;
	}

#crm_page .bab_content {
	padding: 0;
	}

#crm_page .bab_content table {
	text-align: left;
	}

#crm_page_tabs {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border: 0;
	position: absolute;
	bottom: 0;
	left: 250px;
	}

#crm_page_tabs .tab {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	border: 1px solid rgba(0,0,0,0.05);
	border-bottom: 0;
	background-color: rgba(0,0,0,0.1);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#19000000',EndColorStr='#19000000',GradientType=0);
	vertical-align: bottom;
	}

#crm_page_tabs .tab a {
	display: block;
	min-width: 120px;
	padding: 6px 10px 2px 10px;
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 105%;
	text-shadow: 0 -1px 0 #000;
	}

#crm_page_tabs .tab:hover {
	color: #ffffff;
	}

#crm_page_tabs .tab.selected {
	position: relative;
	z-index: 2;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	color: #ffffff;
	background-color: #444;
	background-image: -webkit-linear-gradient(top,#666666,#444444);
	background-image: -moz-linear-gradient(top,#666666,#444444);
	background-image: -ms-linear-gradient(top,#666666,#444444);
	background-image: -o-linear-gradient(top,#666666,#444444);
	background-image: linear-gradient(top,#666666,#444444);
	}

#crm_page_tabs .tab.selected a {
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 110%;
	}

#crm_page_tabs .tab a:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: 1.0;
	filter: alpha(opacity=100);
	}

/********** DEBUG PANEL **********/

#BAB_DEBUG_link {
	position: absolute!important;
	top: 30px!important;
	right: 40px!important;
	color: #ffffff!important;
	background-color: transparent!important;
	opacity: 0.5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #fff;
	z-index: 1000!important;
	}

#BAB_DEBUG_link:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	}

#BAB_DEBUG {
	margin: 0em!important;
	padding: 1em!important;
	position: absolute!important;
	right: 0!important;
	left: 0!important;
	top: 96px!important;
	color: #000000!important;
	background-color: #ffffff!important;
	z-index: 1000!important;
	opacity: 0.9;
	filter: alpha(opacity=90);
	}

/********** ORG CHART **********/

html body .orgchart table.horizontal {
	font-family: Arial,sans-serif;
	}

body .orgchartcontainer {
	position: static;
	text-shadow: none!important;
	}

body .orgchart {
	position: static;
	background: transparent;
	font-size: 8px;
	padding-bottom: 2em;
	}

body .orgchart div.entity {
	border: 0.5em solid black;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0px 0.5em 0.7em rgba(0,0,0,.6);
	-moz-box-shadow: 0px 0.5em 0.7em rgba(0,0,0,.6);
	box-shadow: 0px 0.5em 0.7em rgba(0,0,0,.6);
	}

body .orgchart div.entity.highlighted {
	border-color: #fc0;
	-webkit-box-shadow: 0 0 4px #000000,0 0.5em 0.7em rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 4px #000000,0 0.5em 0.7em rgba(0,0,0,0.6);
	box-shadow: 0 0 4px #000000,0 0.5em 0.7em rgba(0,0,0,0.6);
	}

body .orgchart div.entity.highlighted * {
	color: #000!important;
	}

body .orgchart div.entity > b {
	font-size: 150%;
	}

body .orgchart div.entity.highlighted div.members {
	display: default;
	}

.level4.vertical div.entity {
	background-color: #4292c2;
	outline-width: 0;
	color: black;
	width: 14em;
	}

.level4.vertical div.entity div.members {
	background: transparent;
	}

.level5.vertical div.entity {
	background-color: #3282b2;
	}

.level3.vertical div.entity table img {
	display: none;
	}

.level4.vertical div.entity table img {
	display: none;
	}

.bab_treeToolbar,.bab_treeLocationBar {
	color: #ffffff;
	background-color: #1e6a91;
	}

.bab_treeLocationBar .bab_treeLocationElement {
	padding-top: 0;
	padding-bottom: 0;
	}

.bab_treeToolbar .bab_toolbarButton:hover,.bab_treeLocationBar .bab_treeLocationElement:hover {
	background-color: #3e8ab1;
	}

span.level2.entity {
	font-weight: bold;
	}

span.level3.entity {
	font-weight: normal!important;
	}

span.level4.entity {
	font-weight: normal!important;
	color: #777777;
	}

span.level5.entity {
	font-weight: normal!important;
	color: #aaaaaa;
	}

.crm-page .orgchart div.entity img.treeview-icon {
	width: 3em;
	margin: 0 1em 0 0;
	border: 1px solid rgba(0,0,0,0.5);
	}

.bab-frame .bab-section .bab-configuration-panel {
	padding-bottom: 48px;
	background: transparent url("../images/marquee_div.png") no-repeat scroll center bottom;
	}

html > body div.widget-calendar-period-content {
	background-image: url("../images/grey_vertical_gradient_light.png");
	}

html > body div.widget-calendar-period-content .widget-calendar-period-time {
	background-image: url("../images/grey_vertical_gradient_light.png");
	}

#crm_foot {
	display: none;
	}

html > body .crm-page {
	position: relative;
	background-color: #fff;
	background-image: url('../images/grey_vertical_gradient_light.png') left top repeat-x;
	background-image: -webkit-linear-gradient(top,#d7d7d7 0px,#f2f2f2 300px);
	background-image: -moz-linear-gradient(top,#d7d7d7 0px,#f2f2f2 300px);
	background-image: -ms-linear-gradient(top,#d7d7d7 0px,#f2f2f2 300px);
	background-image: -o-linear-gradient(top,#d7d7d7 0px,#f2f2f2 300px);
	background-image: linear-gradient(top,#d7d7d7 0px,#f2f2f2 300px);

	}

#crm_main_panel,#crm_context_panel {
	text-shadow: 0 1px 1px #fff;
	}

.crm-page .crm-global-history .widget-section-content,.crm-page .crm-summary-current-deals .widget-section-content {
	background: transparent;
	}

/*
 *
 * List filters.
 *
 */

.widget-filter {
	background: transparent url("../images/grey_vertical_gradient_lightest.png") repeat-x left top!important;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	}

.widget-filter .filter {
	background: transparent url("../images/icons/search-reflect-transparent.png") no-repeat 99% 6px!important;
	font-weight: bold;
	border: 1px solid #ddd;
	border-top: 1px solid #eee;
	border-bottom: 0;
	color: #000!important;
	}

.crm-page-list .widget-filter {
	background: #ddd url('../images/grey_vertical_gradient_light.png') left top repeat-x!important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	}

.widget-filter .ui-accordion-header,.widget-filter .ui-accordion-content {
	border: none;
	background: transparent;
	}

.widget-filter .ui-accordion-content {
	padding-bottom: 8px!important;
	padding-top: 4px!important;
	}

.widget-filter .ui-accordion-header {
	padding-bottom: 1px!important;
	padding-top: 1px!important;
	}

.widget-filter .ui-accordion-header:hover {
	background: transparent url('../images/white_trans_25.png') repeat;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}

.widget-filter .widget-pageselector {
	padding-left: 2em;
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,.4);
	box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,.4);
	background: #fff url('../images/grey_vertical_gradient_lightest.png') repeat-x;
	}

.crm-page-list .widget-filter .filter {
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent url("../images/icons/search-reflect-transparent.png") no-repeat 8px -1px!important;
	color: #555!important;
	font-weight: normal;
	padding-top: 10px;
	padding-left: 70px;
	}

.widget-page-previous,.widget-page-next {
	font-size: 120%;
	background: transparent;
	padding: 0 6px!important;
	border: none!important;
	opacity: 0.4;
	}

a.widget-page-previous,a.widget-page-next {
	font-weight: bold;
	text-decoration: none;
	opacity: 1;
	}

a.widget-page-previous:hover,a.widget-page-next:hover {
	background: #eee!important;
	}

.widget-filter .widget-pageselector a:focus {
	outline: 1px solid #ace;
	}

.widget-page-number {
	vertical-align: top;
	background: transparent url('../images/white_trans_50.png') repeat;
	padding: 2px 6px!important;
	border: none!important;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	margin: 0 3px 5px 3px!important;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	box-shadow: 0px 1px 1px rgba(0,0,0,.4);
	text-decoration: none!important;
	}

.widget-filter .widget-pageselector a:visited,.widget-filter .widget-pageselector a:link,.widget-filter .widget-pageselector a:active {
	color: #333;
	}

a.widget-page-number:hover {
	font-weight: bold;
	background: #eee!important;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	}

.widget-page-number-current {
	vertical-align: top;
	background: #fff!important;
	color: #000!important;
	padding: 2px 12px!important;
	border: none!important;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	margin: 0 6px 5px 6px!important;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	font-size: 130%;
	text-decoration: none!important;
	}

.widget-table-section.widget-table-header tr.widget-table-row {
	background-image: -webkit-linear-gradient(top,#ffffff,#eeeeee)!important;
	background-image: -moz-linear-gradient(top,#ffffff,#eeeeee)!important;
	background-image: -ms-linear-gradient(top,#ffffff,#eeeeee)!important;
	background-image: -o-linear-gradient(top,#ffffff,#eeeeee)!important;
	background-image: linear-gradient(top,#ffffff,#eeeeee)!important;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	color: #777;
	}

.widget-table-section.widget-table-header tr.widget-table-row td:hover,.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc:hover {
	font-weight: bold;
	background-image: -webkit-linear-gradient(top,#fafafa,#e2e2e2)!important;
	background-image: -moz-linear-gradient(top,#fafafa,#e2e2e2)!important;
	background-image: -ms-linear-gradient(top,#fafafa,#e2e2e2)!important;
	background-image: -o-linear-gradient(top,#fafafa,#e2e2e2)!important;
	background-image: linear-gradient(top,#fafafa,#e2e2e2)!important;
	color: #333;
	}

.widget-table-section.widget-table-header tr.widget-table-row a {
	display: block;
	color: inherit;
	}

.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc,.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-desc {
	background: url("../images/dadada_40x100_textures_02_glass_75.png") repeat-x center center #dadada;
	background-image: -webkit-linear-gradient(top,#f2f2f2,#dddddd)!important;
	background-image: -moz-linear-gradient(top,#f2f2f2,#dddddd)!important;
	background-image: -ms-linear-gradient(top,#f2f2f2,#dddddd)!important;
	background-image: -o-linear-gradient(top,#f2f2f2,#dddddd)!important;
	background-image: linear-gradient(top,#f2f2f2,#dddddd)!important;
	padding-left: 0;
	}

.widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-asc,.widget-table-section.widget-table-header .widget-table-row td.widget-table-column-sorted-desc {
	color: #555;
	}

.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-asc a {
	background: url("../images/888888_7x7_arrow_down.gif") no-repeat scroll 5px center transparent;
	padding-left: 18px;
	color: inherit;
	}

.widget-table-section.widget-table-header tr.widget-table-row td.widget-table-column-sorted-desc a {
	background: url("../images/888888_7x7_arrow_up.gif") no-repeat scroll 5px center transparent;
	padding-left: 18px;
	color: inherit;
	}

tr.widget-table-row.even {
	background-color: #fff;
	}

tr.widget-table-row.even td.widget-table-column-sorted-asc,tr.widget-table-row.even td.widget-table-column-sorted-desc {
	background-color: #f5f5f5;
	}

tr.widget-table-row.odd {
	background-color: #f7f7f7;
	}

tr.widget-table-row.odd td.widget-table-column-sorted-asc,tr.widget-table-row.odd td.widget-table-column-sorted-desc {
	background-color: #ededed;
	}

tr.widget-table-row > td {
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #eaeaea;
	}

a.widget-link {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #000;
	color: inherit;
	}

a.widget-link:hover {
	text-decoration: underline;
	}

.crm-actions a.widget-link,.crm-actions .widget-frame {
	display: block;
	background: transparent url('../images/white_trans_25.png') repeat;
	border: 1px solid #aaa;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding: 1px 8px;
	white-space: nowrap;
	color: #333;
	text-shadow: 0 1px 0px #fff;
	background-color: #dddddd;
	background-image: -webkit-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -moz-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -ms-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -o-linear-gradient(top,#eeeeee,#dddddd);
	background-image: linear-gradient(top,#eeeeee,#dddddd);
	}

.crm-actions .widget-filepicker-add,.widget-menu .widget-filepicker-add {
	padding: 0!important;
	margin: 0!important;
	background: transparent!important;
	border: none!important;
	color: #000!important;
	cursor: pointer!important;
	}

.crm-actions a.widget-link:hover {
	text-decoration: none;
	background: transparent url('../images/white_trans_50.png') repeat;
	border: 1px solid #fff;
	outline: none;
	}

.crm-history-element,.crm-import {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px dotted #BBBBBB;
	padding: 2px;
	position: relative;
	width: 100%;
	}

.crm-history-element {
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-box-shadow: 3px 0 0 transparent inset;
	-moz-box-shadow: 3px 0 0 transparent inset;
	box-shadow: 3px 0 0 transparent inset;
	}

.crm-history-element:hover {
	-webkit-box-shadow: 3px 0 0 #abc inset;
	-moz-box-shadow: 3px 0 0 #abc inset;
	box-shadow: 3px 0 0 #abc inset;
	}

.crm-history-element .crm-content {
	color: #555;
	line-height: 1.4em;
	}

.crm-history-element .crm-header .widget-title {
	color: #333;
	font-weight: bold;
	font-size: 11pt;
	}

.crm-note .crm-note-content {
	color: #555;
	}

.crm-history-element .crm-contact-link {
	font-weight: bold;
	}

.crm-history-element .crm-content:hover a,.crm-history-element .crm-header:hover a {
	text-decoration: underline!important;
	}

.crm-history-element .crm-attachments {
	background-color: #f7f7f7;
	background: transparent url('../images/white_trans_25.png') repeat;
	border: 2px solid #f9f9f9;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	}

.crm-history-element .crm-linked-elements {
	text-align: right;
	}

.crm-history-element .crm-header {
	width: 100%;
	border-collapse: separate;
	padding: 4px;
	}

.crm-history-element .crm-content {
	padding: 4px;
	}

.crm-history-element .crm-icons {
	padding: 8px 4px 4px 4px;
	}

.crm-history-element .crm-linked-elements .widget-label {
	font-size: 10px;
	color: #555;
	}

.widget-menu-button {
	background-color: rgba(0,0,0,0.025)!important;
	border-color: rgba(0,0,0,0.05)!important;
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	opacity: 0.5;
	}

.widget-menu-button:hover {
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.05);
	box-shadow: 0 0 1px rgba(0,0,0,0.05);
	opacity: 1;
	}

#crm_context_panel .widget-section-header span.widget-title {
	font-size: 90%;
	}

.crm-tasks-summary .crm-task {
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-bottom: 2px;
	}

.crm-tasks-summary-overdue .crm-task {
	background-color: #ecc!important;
	border-color: #caa!important;
	}

.crm-tasks-summary-today .crm-task {
	background-color: #eec!important;
	border-color: #cca!important;
	}

#crm_context_panel h4 {
	font-weight: bold;
	color: #c70;
	}

#crm_context_panel h5 {
	font-weight: bold;
	color: #000;
	text-shadow: none;
	}

.crm-task-summary {
	border-top: 1px dotted #999;
	padding-top: 4px;
	padding-bottom: 4px;
	}

.crm-codification {
	margin: 0 8px 0 0;
	border-bottom: 1px dotted #CCCCFF;
	color: #666;
	font-size: 9pt;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}

.crm-tag .widget-icon,.crm-codification .widget-icon {
	opacity: 0.1!important;
	padding: 0px 0px 2px 20px!important;
	width: 0px;
	margin-right: -3px;
	}

.crm-tag:hover .widget-icon,.crm-codification:hover .widget-icon {
	opacity: 1!important;
	}

.crm-page .widget-section .widget-section-content.widget-timeline {
	border: 1px solid #ccc;
	padding: 0;
	}

/*
 * TAGS
 */

.crm-tag a {
	color: #fff;
	vertical-align: middle;
	}

.crm-tag a.actions-edit-delete {
	padding: 2px 12px 2px 8px;
	}

.crm-tag {
	padding: 0px 0px 0px 12px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	font-size: 9pt;
	}

.crm-tag {
	padding: 2px 0px 2px 12px;
	border: 1px solid #384;
	color: #fff;
	text-shadow: 0 1px 0px rgba(0,0,0,0.5);
	font-weight: bold;
	background-color: #55aa66;
	background-image: -webkit-linear-gradient(top,#66bb77,#449955);
	background-image: -moz-linear-gradient(top,#66bb77,#449955);
	background-image: -ms-linear-gradient(top,#66bb77,#449955);
	background-image: -o-linear-gradient(top,#66bb77,#449955);
	background-image: linear-gradient(top,#66bb77,#449955);
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}

.crm-tag .widget-icon {
	visibility: hidden;
	width: 0px;
	padding: 0 0 0 16px!important;
	background-position: 0px center!important;
	float: right;
	}

.crm-tag:hover .widget-icon {
	visibility: visible;
	}

.crm-tag.crm-not-checked {
	opacity: 0.6;
	}

.crm-button,a.crm-button {
	font-weight: bold;
	font-size: 100%;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #aaa;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0.2em 0.8em;
	text-shadow: 0 1px 0px #fff;
	background-color: #dddddd;
	background-image: -webkit-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -moz-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -ms-linear-gradient(top,#eeeeee,#dddddd);
	background-image: -o-linear-gradient(top,#eeeeee,#dddddd);
	background-image: linear-gradient(top,#eeeeee,#dddddd);
	}

form .widget-label {
	color: #666666;
	font-size: 9pt;
	/*font-variant: small-caps;
	text-transform: uppercase;*/
	text-shadow: 0 1px 0 #FFFFFF,0 0 2px #FFFFFF;
	}

.bab_treeToolbar .bab_toolbarButton {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	min-height: 14px;
	}

.crm-note .icon-top-48 .widget-icon {
	width: 130px;
	}

/*
.crm-note a:hover {
	text-decoration: none !important;	
}
.crm-note a:hover span {
	text-decoration: underline !important;
}
*/

.crm-attachments {
	background-color: #f7f7f7;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	margin-bottom: 1em;
	padding-top: .5em;
	}

.crm-attachments a:hover {
	text-decoration: none;
	}

.crm-attachments a.widget-link:hover .widget-icon-label {
	text-decoration: underline;
	}

.crm-personal-task,.crm-other-task {
	margin-top: 5px;
	}

#crm_main_panel .label-crm-personal-task,#crm_context_panel .label-crm-personal-task {
	padding: 2px 0px 2px 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #888;
	border: 1px solid #fff;
	color: #fff!important;
	text-shadow: none;
	}

.label-crm-other-task {
	padding: 2px 4px;
	font-weight: normal;
	color: #777!important;
	}

.widget-link:hover .widget-icon .widget-icon-label {
	text-decoration: underline;
	}

.crm-card {
	border: 1px solid #ccc;
	background: transparent url('../images/white_trans_25.png') repeat;
	padding: 1em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}

.crm-card.widget-section {
	padding: 4px;
	}

.crm-card-title {
	color: #000;
	font-size: 115%;
	font-weight: bold;
	}

div.timeline-event-bubble-title,div.timeline-event-bubble-title a {
	font-family: Arial,sans-serif;
	font-weight: normal;
	color: #7b0;
	font-size: 12pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 1px;
	text-decoration: none;
	}

div.timeline-event-bubble-body p {
	color: #777;
	}

.crm-configuration-frame a.widget-link {
	width: 23em;
	padding: 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.025);
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	-webkit-transition-property: background-color,box-shadow;
	-moz-transition-property: background-color,box-shadow;
	-ms-transition-property: background-color,box-shadow;
	-o-transition-property: background-color,box-shadow;
	transition-property: background-color,box-shadow;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	}

.crm-configuration-frame a.widget-link:hover {
	text-decoration: none;
	border: 1px solid #f7f7f7;
	border-bottom-color: #fff;
	border-top-color: #f0f0f0;
	background: transparent url('../images/grey_vertical_gradient_lightest.png') left top repeat-x!important;
	background-color: #eee!important;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
	box-shadow: 0px 0px 3px rgba(0,0,0,.25);
	}

.crm-configuration-frame .widget-icon-sub-label {
	height: 1.8em;
	overflow: visible;
	}

.crm-configuration-frame .widget-icon-label {
	font-size: 1.1em;
	}

.crm-page.crm-page-configuration {
	background: #fcfcfc url("../images/grey_vertical_gradient.png") repeat-x left top;
	}



.widget-form .crm-long-description {
	font-size: 90%;
	font-style: italic;
	font-variant: normal;
	text-transform: none;
	}

.widget-suggestlineedit {
	background-image: url('../images/222222_11x11_icon_arrows_updown.gif')!important;
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 16px!important;
	}

.crm-suggestorganization {
	background-image: url('../images/icons/orgsmaller.png')!important;
	}

.crm-suggestcontact {
	background-image: url('../images/icons/contactsmaller.png')!important;
	}

.crm-suggestdeal {
	background-image: url('../images/icons/dealsmaller.png')!important;
	}

.crm-suggesttag {
	background-image: url('../images/icons/tagsmaller.png')!important;
	}

/** CRM PAGES **/

#crm_vertical_spacer {
	width: 0px;
	padding: 0;
	}

#crm_main_panel {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

#crm_context_panel {
	background: url("../images/grey_vertical_gradient_light.png") repeat-x left top;
	}

.crm-two-panel-page > div.widget-layout-vbox > div.widget-layout-vbox-item > table.widget-layout-hbox > tbody > tr.widget-layout-hbox-tr > td.widget-layout-hbox-item:last-child {
	background: #e2e2f2 url("../images/shadow_right.png") repeat-y -6px top;
	}

body#calendar\:display .crm-two-panel-page #crm_context_panel {
	width: auto!important;
	}

#crm_user_name {
	position: absolute;
	right: 0;
	top: 0;
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding: 8px;
	color: #ffffff;
	opacity: 0.9;
	}

#crm_search {
	position: absolute;
	right: 0;
	bottom: -27px;
	padding: 6px 0 4px 6px;
	z-index: 5;
	}

#crm_search input {
	border: none;
	margin: 0px 4px;
	height: 16px;
	background-color: rgba(255,255,255,0.2);
	width: 8em;
	padding: 2px 4px 2px 24px;
	}

#crm_search input:focus {
	width: 16em;
	background-color: rgba(255,255,255,1);
	}

#crm_search_buttons {
	display: none;
	}

#crm_search_buttons input {
	width: 16px;
	height: 20px border-radius: 4px;
	}

.crm-search-result {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 8px;
	border-top: 1px dotted #aaa;
	}

.crm-exact-match {
	background-color: rgba(255,255,255,0.3);
	}

/****** MAIN TOOLBARS ******/

#crm_toolbars_panel a,#crm_toolbars_panel a:visited,#crm_toolbars_panel a:active {
	text-decoration: none;
	color: #ccc;
	}

#crm_toolbars_panel .widget-icon,#crm_toolbars_panel .widget-submitbutton,#crm_toolbars_panel .widget-actionbutton {
	font-size: 13px;
	font-weight: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(46,46,46,0.5);
	background-color: transparent;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#crm_toolbars_panel .widget-icon:hover,#crm_toolbars_panel .widget-submitbutton:hover,#crm_toolbars_panel .widget-actionbutton:hover {
	border: 1px solid #08f;
	-webkit-box-shadow: 0 0 2px #08f;
	-moz-box-shadow: 0 0 2px #08f;
	box-shadow: 0 0 2px #08f;
	background-color: rgba(0,0,0,0.1);
	color: #fff;
	outline: none;
	}

#crm_toolbars_panel .widget-link:hover .widget-icon .widget-icon-label {
	text-decoration: none;
	}

#crm_toolbars_panel td,#bab_main_toolbar td img,#bab_main_toolbar td a,#bab_main_toolbar td span {
	vertical-align: middle;
	}

#crm_toolbars_panel td img {
	margin-right: 4px;
	}

#crm_toolbars_panel {
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	position: relative;
	z-index: 1;
	background-color: #333;
	background-image: -webkit-linear-gradient(top,#444444,#111111);
	background-image: -moz-linear-gradient(top,#444444,#111111);
	background-image: -ms-linear-gradient(top,#444444,#111111);
	background-image: -o-linear-gradient(top,#444444,#111111);
	background-image: linear-gradient(top,#444444,#111111);
	text-shadow: 0 -1px #000000;
	}

#crm_toolbars_panel .crm-toolbar,#crm_toolbars_panel .widget-toolbar {
	padding: 4px 2px 4px 12px;
	position: relative;
	display: block;
	background-color: transparent;
	border-top: 1px solid rgba(0,0,0,0.25);
	}

/**** LOCATION BAR ****/

#crm_toolbars_panel .crm-locationbar {
	border-top: none;
	min-height: 20px;
	padding-bottom: 3px;
	padding-top: 3px;
	}

#crm_toolbars_panel .crm-locationbar .widget-link {
	background: transparent url("../images/location_separator.png") no-repeat right center;
	padding: 3px 16px 3px 0px;
	font-size: 90%;
	color: #aaa;
	text-shadow: 0 -1px #000;
	}

#crm_toolbars_panel .crm-locationbar:hover .widget-link {
	color: #ccc;
	}

#crm_toolbars_panel .crm-locationbar .widget-link:hover {
	color: #fff!important;
	}

#crm_toolbars_panel .crm-locationbar .widget-layout-flow-item:last-child .widget-link {
	font-weight: bold!important;
	}

#crm_toolbars_panel .crm-toolbar a,#crm_toolbars_panel .widget-toolbar a {
	color: #ddd;
	}

/****** TOOLBARS IN CONTEXT PANEL ******/

#crm_context_panel .crm-toolbar > .widget-layout-flow > .widget-layout-flow-item {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	background-color: #ccc;
	padding: 0px 4px;
	border: none;
	}

#crm_context_panel .crm-toolbar > .widget-layout-flow > .widget-layout-flow-item a,#crm_context_panel .crm-toolbar > .widget-layout-flow > .widget-layout-flow-item a:active,#crm_context_panel .crm-toolbar > .widget-layout-flow > .widget-layout-flow-item a:visited,#crm_context_panel .crm-toolbar > .widget-layout-flow > .widget-layout-flow-item a:hover {
	color: #fff!important;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}

.crm-page-editor #crm_main_panel .crm-toolbar.crm-locationbar,.crm-page-editor #crm_main_panel .widget-toolbar.crm-locationbar {
	top: -1em;
	left: -2em;
	}

.crm-folder-view.icon-top-48 .crm-file-icon {
	width: 120px;
	}

.crm-file-full-frame.widget-section-content {
	border-top: 1px solid #E6E6E6;
	max-height: 280px;
	overflow: auto;
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.025);
	}

.crm-file-full-frame.widget-section-content .crm-folder-view.icon-top-48 .crm-file-icon {
	width: 80px;
	}

.crm-file-full-frame.widget-section-content .crm-folder-view {
	background: transparent;
	}

.widget-filepicker-file .actions-edit-delete {
	opacity: 0.3;
	}

.widget-filepicker-file:hover .actions-edit-delete {
	opacity: 1;
	}

.widget-toolbar .widget-filepicker-add {
	padding: 0!important;
	margin: 0!important;
	background: transparent!important;
	border: none!important;
	color: #ccc!important;
	}

input[type="file"].small {
	font-size: 6pt;
	opacity: 0.5;
	}

input[type="file"].small:hover {
	opacity: 1;
	}

.widget-displaymode {
	padding: 3px 0;
	}

.crm-detailed-info-frame {
	padding: 2em;
	}

.crm-page.crm-detailed-info-frame {
	padding: 0em;
	}

.crm-page.crm-detailed-info-frame #crm_main_panel {
	padding: 2em;
	}

.crm-detailed-info-frame .lcrm-header {
	width: 100%;
	}

.crm-detailed-info-frame .org {
	font-weight: bold;
	}

.crm-detailed-info-frame .position {
	font-weight: bold;
	}

.crm-detailed-info-frame h2.fn,.crm-detailed-info-frame h2.org {
	font-size: 20pt;
	font-weight: normal;
	}

.ui-accordion-content {
	font-size: 8pt!important;
	padding: 1em!important;
	}

.ui-accordion-content-active {
	border-top: none!important;
	}

.ui-accordion-header a {
	padding: 0.3em 1em 0.3em 2.2em!important;
	}

.ui-accordion-header.ui-state-active {
	border-bottom: none;
	font-weight: bold;
	}

.crm-search-sidebar {
	margin: .2em;
	padding: .8em;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: url("images/grey_vertical_gradient_light.png") repeat-x left top;
	}

.crm-search-organization {
	background-color: #fff3c9;
	}

.crm-search-contact {
	background-color: #d2d8ec;
	}

.crm-search-sidebar .widget-layout-hbox-item {
	vertical-align: middle;
	padding: .5em;
	}

#crm_page_info {
	position: relative;
	top: -96px;
	display: block;
	padding: 1em 2em 1em 2em;
	margin: 0 1em 1em 1em;
	background-color: #eec;
	border: 1px solid #cca;
	border-top: none;
	color: #886;
	font-size: 125%;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	border-bottom-left-radius: 0.5em;
	cursor: pointer;
	overflow: hidden;
	z-index: 10001;
	}

.LibCampaign_headitem {
	margin: 1em .5em;
	padding: .5em .5em 0 .5em;
	border: 1px solid #aaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ccc;
	text-align: center;
	height: 2.9em;
	}

.LibCampaign_gauge {
	width: 200px;
	}

.not-checked {
	color: #b00;
	}

.crm-sub-label {
	font-weight: normal;
	}

#crm_page .crm-view-more {
	border: 1px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #777;
	padding: 2px 6px 2px 18px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: transparent url('../images/888888_11x11_icon_plus.gif') no-repeat 4px center;
	}

#crm_page .crm-view-more:hover {
	border-color: #ddd;
	}

/*
 * Home page
 */

.crm-summary-current-deals .crm-history-element {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 8px;
	border-top: 1px dotted #aaa;
	}

.crm-global-history .crm-history-element {
	padding: 0.5em;
	width: auto;
	margin-bottom: 0;
	max-height: 12em;
	overflow: hidden;
	}

.crm-summary-current-deals .crm-history-element .crm-content p,.crm-global-history .crm-history-element .crm-content p {
	margin: 0 0 1em 0;
	}

.crm-summary-current-deals .crm-content,.crm-global-history .crm-content {
	color: #555;
	}

.crm-summary-current-deals {
	min-width: 25em;
	max-width: 340px;
	-webkit-border-bottom-right-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	border-bottom-right-radius: 1em;
	color: #666;
	}

.crm-summary-current-deals h6 {
	font-size: 105%;
	font-weight: normal;
	color: #222;
	}

.crm-summary-current-deals h4 {
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	}

.crm-summary-current-deals h5 {
	color: #555;
	}

.crm-summary-current-deals h4 {
	font-weight: bold;
	}

.crm-summary-current-deals a {
	color: inherit;
	}

.crm-summary-current-deals .widget-section-header,.crm-global-history .widget-section-header {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	min-height: 22px;
	}

.crm-summary-current-deals h2,.crm-global-history h2 {
	padding: 15px 10px;
	font-size: 30px;
	letter-spacing: -1px;
	}

#crm_context_panel .widget-section.widget-foldable .widget-section-header {
	padding-right: 0;
	}

#crm_context_panel .widget-section .widget-section-header {
	padding-right: 0;
	}

.widget-tableview .widget-table-row td.crm-center {
	text-align: center;
	}

.widget-tableview .widget-table-row td.crm-medium-column {
	width: 6em!important;
	}

.widget-tableview .widget-table-row td.crm-thin-column {
	width: 3em!important;
	}

.widget-tableview .widget-table-row td.crm-thinnest-column {
	width: 1px!important;
	}

.widget-tableview .widget-table-row td.crm-numeric,.widget-tableview .widget-table-row td.crm-numeric input {
	text-align: right;
	}

.widget-table-section .widget-table-row,.widget-table-section.widget-table-header .widget-table-row,.widget-table-section.widget-table-footer .widget-table-row {
	background: none repeat scroll 0 0 #fff!important;
	}

.widget-table-section .widget-table-row .widget-lineedit,
.widget-table-section .widget-table-row .widget-datepicker,
.widget-table-section .widget-table-row .widget-textedit {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

.widget-table-section .widget-table-row:hover input.widget-lineedit,
.widget-table-section .widget-table-row:hover input.widget-datepicker,
.widget-table-section .widget-table-row:hover textarea.widget-textedit {
	outline: 1px solid #abc;
	}

.widget-table-section .widget-table-row:hover input[disabled="disabled"],.widget-table-section .widget-table-row:hover textarea.widget[disabled="disabled"] {
	outline: none;
	}

.widget-table-section .widget-table-row:hover input[type="checkbox"] {
	outline: none;
	}

#main_panel_box {
	width: 100%;
	}

.crm-hidden {
	display: none;
	}

.crm-page .crm-folder-view {
	padding: 1em 2em;
	}

.crm-page .widget-section .crm-folder-view {
	padding-top: 0;
	}

.crm-page .crm-file-full-frame .crm-folder-view.icon-top-48 .widget-icon {
	width: 128px;
	}

html .crm-file-details {
	border: none;
	background: transparent;
	}

html .crm-file-details .widget-image {
	padding: 3px;
	background: #fff;
	border: 1px solid #ccc;
	}

.crm-file-details .widget-pair .first {
	white-space: nowrap;
	padding: .6em 0 0 0;
	}

.crm-file-details .widget-pair .second {
	padding: .1em 0 0 1.5em;
	font-weight: bold;
	}

.widget-icon.crm-droppable {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}

.widget-icon.crm-droppable-accepting {
	outline: 1px solid rgb(100,150,200);
	outline-radius: 6px;
	outline-color: rgba(100,150,200,0.5);
	}

.widget-icon.crm-droppable-hovered {
	background-color: #ddd;
	background-color: rgba(100,150,200,0.2);
	outline-width: 2px;
	outline-color: rgba(100,150,200,1);
	}

.crm-draggable-dragged {
	background-color: transparent!important;
	}

.crm-folder-view.widget-icon.ui-selected,.crm-folder-view .widget-icon,.widget-treeview .widget-icon {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: background;
	-moz-transition-property: background;
	-ms-transition-property: background;
	-o-transition-property: background;
	transition-property: background;
	}

.crm-folder-view.widget-icon.ui-selected:hover,.crm-folder-view .widget-icon:hover,.widget-treeview .widget-icon:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #e7e7e7;
	background-color: rgba(100,150,200,0.25);
	}

.widget-treeview div.line a:hover {
	text-decoration: none!important;
	}

.widget-icon.ui-selecting:hover,.widget-icon.ui-selecting,.widget-icon.ui-selected {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #d8dde3;
	}

/* POPUP MENUS */

html .widget-menu {
	display: none;
	}

html .widget-popup-menu {
	padding: 3px 3px 0 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: #f7f7f7 url("../images/grey_vertical_gradient_light.png") repeat-x left top;
	background-image: -webkit-linear-gradient(top,#f0f0f0,#dddddd);
	background-image: -moz-linear-gradient(top,#f0f0f0,#dddddd);
	background-image: -ms-linear-gradient(top,#f0f0f0,#dddddd);
	background-image: -o-linear-gradient(top,#f0f0f0,#dddddd);
	background-image: linear-gradient(top,#f0f0f0,#dddddd);
	}

html .widget-popup-menu .widget-link {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	display: block;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
	margin: 0;
	overflow: hidden;
	}

html .widget-popup-menu .widget-link:hover {
	text-shadow: 0 1px 2px rgba(0,0,0,0.8);
	background-color: #79B!important;
	color: #ffffff!important;
	}

html .widget-popup-menu a:hover .widget-icon span.widget-icon-label {
	text-decoration: none;
	}

html .ui-state-default a,html .ui-state-default a:link,html .ui-state-default a:visited {
	color: #000;
	}

.widget-timeline .timeline-band .timeline-highlight-label {
	visibility: hidden;
	}

.widget-timeline #timeline-band-0 .timeline-highlight-label {
	visibility: visible;
	color: #fff;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 0 0 2px rgba(0,0,0,0.2);
	}

.widget-timeline .timeline-date-label {
	font-size: 75%;
	}

/**********
	Teams
 **********/

.crm-page .crm-team-section .crm-team-member {
	background: #fff;
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px;
	color: #555;
	}

.crm-page .crm-team-section .crm-team-member.widget-folded {
	background: rgba(255,255,255,0.75);
	border: 1px solid #ddd;
	padding: 4px;
	}

.crm-page .crm-team-section .crm-team-member h6 {
	color: #555;
	}

.crm-page .crm-team-section.widget-section.widget-foldable .widget-section-header,.crm-page .crm-team-section .widget-section.widget-foldable .widget-section-header {
	border-bottom: none;
	}

/**********
    Orders
 **********/

.crm-page .crm-orders-section .crm-order {
	background: #fff;
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px;
	color: #555;
	}

.crm-page .crm-orders-section .crm-order.widget-folded {
	background: rgba(255,255,255,0.75);
	border: 1px solid #ddd;
	padding: 4px;
	}

.crm-page .crm-orders-section .crm-order h6 {
	color: #555;
	}

.crm-page .crm-orders-section.widget-section.widget-foldable .widget-section-header,.crm-page .crm-orders-section .widget-section.widget-foldable .widget-section-header {
	border-bottom: none;
	}

.crm-page .crm-orders-section .crm-order .betom-context-actions {
	background: #f7f7f7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px;
	}

.crm-display-label {
	font-size: 90%;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	color: #000;
	}

.adr,.addr {
	padding: 0 28px 2px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-ms-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	}

.adr:hover,.addr:hover {
	background: #eef2ff;
	}

.crm-sort .widget-layout-vbox-item {
	border: #eee 1px solid;
	padding: .4em .9em;
	margin: .4em;
	background-color: #fff;
	cursor: move;
	cursor: hand;
	min-height: 1.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}

.crm-sort .widget-layout-vbox-item:hover {
	border-color: #ccc;
	background-color: #eee;
	}

.widget-sortable-placeholder {
	border: #ffa200 1px dashed;
	display: block;
	min-height: 1.5em;
	padding: .4em .9em;
	margin: .4em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}

.crm-page-editor .crm-editor {
	margin: 2em auto;
	max-width: 710px;
	}

.widget-tableview > table > tbody > tr > td {
	padding: 4px 8px;
	}

.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row {
	color: #222;
	}

.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row td.widget-table-column-sorted-desc,.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row td.widget-table-column-sorted-asc {
	color: #000;
	}

.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row:hover td {
	background-color: #F2F9FF;
	color: #000;
	}

.widget-tableview > table > tbody.widget-table-body > tr.widget-table-row:hover a {
	text-decoration: underline;
	}

.widget-submitbutton {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	text-shadow: 0 0 1px #000;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 8px;
	background: #59d;
	border: 1px solid #37c;
	}

.widget-actionbutton {
	border: 1px solid rgba(0,0,0,0.1);
	text-shadow: 0 0 2px #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: rgba(0,0,0,0.75);
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	-webkit-box-shadow: 0 0 1px #fff;
	-moz-box-shadow: 0 0 1px #fff;
	box-shadow: 0 0 1px #fff;
	background-color: rgba(0,0,0,0.025);
	line-height: 1.2em;
	white-space: nowrap;
	}

.widget-actionbutton:hover {
	border-color: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.8);
	}

.widget-actionbutton .widget-filepicker-add {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: inherit;
	font-weight: inherit;
	}

.widget-layout-hbox-item > .widget-submitbutton {
	min-width: 120px;
	}

.crm-page .widget-section.widget-foldable.widget-folded .widget-section-header .arrow {
	background: url("../images/arrowr.png") no-repeat scroll 6px 6px transparent;
	opacity: 0.5;
	}

.crm-page .widget-section.widget-foldable .widget-section-header .arrow {
	background: url("../images/arrowd.png") no-repeat scroll 6px 6px transparent;
	opacity: 0.5;
	}

.crm-history-element .crm-note {
	font-size: 90%!important;
	}

	
.crm-two-panel-page #crm_context_panel > .widget-layout {
    padding: 1em;
}
	

@media print {

#crm_head,#main_logo,#BAB_DEBUG_link,#BAB_DEBUG,#workspace_toolbar_shadow,#bab_main_toolbar,#crm_toolbars_panel,.icon_bar,.crm-actions {
	display: none!important;
	}

body.page {
	border: none;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

.crm-two-panel-page > div.widget-layout-vbox > div.widget-layout-vbox-item > table.widget-layout-hbox > tbody > tr.widget-layout-hbox-tr > td.widget-layout-hbox-item {
	display: block;
	}

#crm_vertical_spacer {
	display: none;
	}

}
